*{
    margin:0;
    padding:0;
    text-align: center
}

h1{
    background-color:#416165;
    color: white;
    height: 5rem;
    line-height: 5rem 
    /* vertical centre align */
}

.choice{
    height: 165px;
    width:165px;
    border-radius: 50% ;
    display:flex;
    justify-content:center;
    align-items:center;
   
}

.choice:hover{
    background-color: #5B5941;
    cursor:pointer
}

img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%
}

.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center ;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
    color:#416165;

}
p{
    color:#416165; 
}
#user-score , #comp-score{
    font-size: 4rem;
    margin-top: 4rem;
    color:#9a879d;

}


.msg-container{

    margin-top: 5rem;
}
#msg{
    
    background-color: #120D31;
    color: #A7BED3 ;
    height: 5rem;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem
}

#whole{
    background-color:#D9DBF1;
}